@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
}

h1 {
    /* font-family: 'Bangers', cursive; */
    font-family: "Bebas Neue", sans-serif;
}

/* Hide all slides by default */
.mySlides {
    display: none;
}

/* Adjust placeholder visibility for mobile devices */
@media screen and (max-width: 768px) {

    /* Increase the opacity of the placeholder */
    input[type="date"]::placeholder {
        opacity: 0.8;
        /* Adjust the opacity value as needed */
    }
}